.contact {
  .contact__list {
    li {
      margin-left: 2px;
      padding: 0px 5px;
      display: inline-block;

      a {
        font-size: 26px;
        color: $gray;
        &:hover {
          color: $dark;
        }
      }
    }
  }
}
